@model IEnumerable<LoginUser>

<div class="row">
    <ul id="userList" class="list-group col-12">
        @foreach (var user in Model)
        {
            <li id="user" class="list-group-item">
                @user.UserName
               <a class="btn-primary btn-sm" asp-area="" asp-route-userId="@user.Id" asp-controller="Account" asp-action="AddFriend">Add Friend</a>
            </li>
        }
    </ul>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@section scripts {

<script type="text/javascript">


</script>

}