@model AuthorListViewModel
@{
    ViewData["Title"] = "User Author List";
}

<table>
    <thead>
        <tr>"First Name"</tr>
        <tr>"Last Name"</tr>
        <tr>"Biography"</tr>
    </thead>
    @foreach (AuthorViewModel author in Model.Authors)
    {
    <tr>
        <td>@author.Firstname</td>
        <td>@author.Lastname</td>
        <td>@author.AuthorBio</td>
    </tr>
    }
</table>
