@model BookViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="btn-group">
    <button id="searchButton" type="button" class="mr-2 btn btn-primary" data-toggle="modal" data-target="#addBookModal">Search Books</button>
    <button id="authorSearchButton" type="button" class="ml-2 btn btn-success" data-toggle="modal" data-target="#addAuthorModal">Search Authors</button>
</div>
<form asp-controller="Book" asp-action="AddNewBookForUser" method="post">
    <div id="addBookModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Book Add / Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ISBN:</label>
                        <input id="isbn" type="text" asp-for="Identifier" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Title:</label>
                        <input id="title" type="text" asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Author:</label>
                        <input id="author" type="text" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Book</button>
                        <a data-toggle="modal" href="#detailsModal" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-controller="Author" asp-action="AddNewAuthorForUser" method="post">
    <div id="addAuthorModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Author Add / Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Author name:</label>
                        <input id="authorName" type="text" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Author</button>
                        <a data-toggle="modal" href="#authorDetailsModal" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade detailsModal" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Book List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:500px;overflow:scroll;">
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
</div>

<!--Author Search Modal-->
<div class="modal fade authorDetailsModal" tabindex="-1" role="dialog" id="authorDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Author List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:500px;overflow:scroll;">
                <div id="authorSearchResults"></div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<script>
    function addCurrentBook(isbn) {
        var newBook = new Object();
        newBook.ImageUrl = $('#' + isbn + 'thumbnail').prop('src');
        newBook.Identifier = $('#' + isbn + 'isbn').text();
        newBook.IdentifierType = $('#' + isbn + 'idtype').text();
        newBook.Title = $('#' + isbn + 'title').text();
        newBook.Description = $('#' + isbn + 'description').text();
        var authorName = $('#' + isbn + 'author').text();
        var pubDate = $('#' + isbn + 'publishDate').data('publish');
        newBook.publishDate = new Date(pubDate).toDateString();
        //newBook.Authors = new Object();
        //newBook.Authors.Firstname = authorName;

        $.ajax({
            type: "POST",
            url: "/api/Book/AddNewBookForUser",
            data: newBook,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        });
        window.location.href = "/api/Book/UserBookList";
    };

     function addCurrentAuthor(authorKey) {
        var newAuthor = new Object();
        //newBook.ImageUrl = $('#' + isbn + 'thumbnail').prop('src');
        //newBook.Identifier = $('#' + isbn + 'isbn').text();
        //newBook.IdentifierType = $('#' + isbn + 'idtype').text();
        //newBook.Title = $('#' + isbn + 'title').text();
        //newBook.Description = $('#' + isbn + 'description').text();
        //var authorName = $('#' + isbn + 'author').text();
        //var pubDate = $('#' + isbn + 'publishDate').data('publish');
        //newBook.publishDate = new Date(pubDate).toDateString();

        $.ajax({
            type: "POST",
            url: "/api/Author/AddNewAuthorForUser",
            data: newAuthor,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        });
        window.location.href = "/api/Author/UserAuthorList";
    };


    function getAuthors() {
      // TODO: When no image is found on URL, just returns a blank image. Need to detect that somehow and replace with static placeholder
      var placeholderImage = "~\images\NoImageAvailable.png";
      //D:\source\repos\Dotnet\BookClub\BookClub\wwwroot\images\NoImageAvailable.png

      var authorApiUrl = "https://openlibrary.org/search/authors.json?q=";

      var authorName = $('input[id="authorName"]').val();

      if (authorName.length > 2) {
          authorApiUrl += authorName;
      }

     $.getJSON(authorApiUrl, function (response) {
            if (response.numFound == 0) { return false }

            for (var i = 0; i < response.numFound; i++) {
              var item = response.docs[i];
              var authorKey = item.key;

              // author image sizes -S, -M, -L
              var authorDetailsUrl = "https://openlibrary.org/authors/" + authorKey + ".json"; //use for detail button
              var authorWorksUrl = "https://openlibrary.org/authors/" + authorKey + "/works.json"; //returns 50 works by author
              var authorImageUrl = "https://covers.openlibrary.org/a/olid/" + authorKey + "-M" + ".jpg"; //author images

              //If you want to display covers on public-facing pages, please use a src URL that points to covers.openlibrary.org. For example,
              //if you'd like to call a cover using an ISBN, you can do it like this:
              //   <img src="https://covers.openlibrary.org/b/isbn/9780385533225-S.jpg" />
              //    A courtesy link back to Open Library is appreciated, whether it be on each individual book's page
              //      (where you can link back to the book's page on Open Library, for example, using the same ISBN https://openlibrary.org/isbn/9780385533225),
              //   or on your About page or in your footer.

              console.log(item);
              console.log(authorKey);

              console.log(authorDetailsUrl);
              console.log(authorWorksUrl);
              console.log(authorImageUrl);

              $.getJSON(authorDetailsUrl, function(data) {
                 console.log(data);
              });

             var alternateNames;

              authorImage = placeholderImage;

             if (item.alternate_names != undefined)
             {
                 if (item.alternate_names.length > 3)
                    alternateNames = item.alternate_names.slice(0,3);
                else
                    alternateNames = "";
             }

              var resultName = item.name;
              var birthDate = item.birth_date;
              var topWork = item.top_work;
              var subjects = item.top_subjects;
              var workCount = item.work_count;

              $("#authorSearchResults").append('<form id= "' + authorKey + 'form" asp-controller="Author" asp-action="AddNewAuthorForUser" method="post">' +
                  '<img id="' + authorKey + 'thumbnail" height="150px" style="float: left;padding-right:5px;" src="' + authorImage + '">' +
                  '<h3 id="' + authorKey + 'authorName" >' + resultName + '</h3>' +
                  '<p id="' + authorKey + 'name"> A.K.A. ' + alternateNames + '</p>' +
                  '<div style="padding: 10px;" id = "' + authorKey + '" >' +
                  '<h5 id="' + authorKey + 'birthDate" >Birth Date: ' + birthDate + '</h5>' +
                  '</div>' +
                  '<div style="padding: 10px;" >' +
                  '<h5 id="' + authorKey + 'topWork" >Top Work: ' + topWork + '</h5>' +
                  '<button class="btn btn-sm btn-primary" onClick = "getAuthorWorks(' + authorKey + ')" >See All Works</button>' +
                  '</div>' +
                  '<div style="padding: 10px;" >' +
                  '<p id="' + authorKey + 'name"> Subject matter:  ' + subjects + '</p>' +
                  '</div>' +
                  '<button class= "btn btn-info mr-3" type="submit" onClick = "getAuthorDetails(' + authorKey + ')" > Get Author Details </button >' +
                  '<button class= "btn btn-primary" type="submit" onClick = "addCurrentAuthor(' + authorKey + ')" > Add Author</button > </div><hr /></form>');
             }
       });
     }

    function getAuthorDetails(authorKey) {
      console.log("Author details clicked...");
    }

    function getAuthorWorks(authorKey) {
      console.log("Author Works clicked...");
    }

    function getBookDetails() {
        var googleApiUrl = "https://www.googleapis.com/books/v1/volumes?q=";
        var isbn = $('input[id="isbn"]').val();
        var title = $('input[id="title"]').val();
        var author = $('input[id="author"]').val();

        if (isbn.length > 2) {
            googleApiUrl += "isbn:" + isbn;
        }
        if (title.length > 2) {
            googleApiUrl += "intitle:" + title;
        }
        if (title.length < 2 && isbn.length < 2 && author.length > 2) {
            googleApiUrl += author;
        }

        // Set the api variable
        //var googleApiurl = `https://www.googleapis.com/books/v1/volumes?q=isbn:${isbn}&intitle:${title}`;

        // Make a ajax call to get the json data as response.
        $.getJSON(googleApiUrl, function (response) {
            if (!response.items) { return false }
            // In console, you can see the response objects
            //console.log("JSON Data: " + response.items);

            // Loop through all the items one-by-one
            for (var i = 0; i < response.items.length; i++) {

                console.log(response.items[i]);

                // set the item from the response object
                var item = response.items[i];
                var imageLink = "";
                var bookIdentifier = item.volumeInfo.industryIdentifiers[0].identifier !== null ? item.volumeInfo.industryIdentifiers[0].identifier : 'N/A';
                var bookIdentifierType = item.volumeInfo.industryIdentifiers[0].type !== null ? item.volumeInfo.industryIdentifiers[0].type : 'None';
                var addAuthors = item.volumeInfo.authors[0] !== null ? item.volumeInfo.authors[0] : 'Not Available';


                if (item.volumeInfo.imageLinks != undefined) { imageLink = item.volumeInfo.imageLinks.thumbnail; }
                //console.log(JSON.stringify(item.volumeInfo.industryIdentifiers));
                // Set the book title in the div
                $("#searchResults").append('<form id= "' + bookIdentifier + 'form" asp-controller="Book" asp-action="AddNewBookForUser" method="post">' +
                    '<div style="padding: 10px;" id = "' + bookIdentifier + '" >' +
                    '<span id="' + bookIdentifier + 'idtype" >' + bookIdentifierType + ': </span>' +
                    '<span id="' + bookIdentifier + 'isbn" >' + bookIdentifier + '</span>' +
                    '<h5 id="' + bookIdentifier + 'author"> by ' + addAuthors + '</h5>' +
                    '<img id="' + bookIdentifier + 'thumbnail" height="150px" style="float: left;padding-right:5px;" src="' + imageLink + '">' +
                    '<h4 id="' + bookIdentifier + 'title" >' + item.volumeInfo.title + '</h4><span id="' + bookIdentifier +
                    'publishDate" data-publish="' + item.volumeInfo.publishedDate + '">Published Date: ' + item.volumeInfo.publishedDate + '</span><br />' + '<div class="card - body" id="' +
                    bookIdentifier + 'description" style="height:100px;overflow:hidden;" />' + item.volumeInfo.description + '</div>' +
                    '<button class= "btn btn-primary" type="submit" onClick = "addCurrentBook(' + bookIdentifier + ')" > Add</button > </div><hr /></form>');
            }
        });

        // var apiKey = "AIzaSyCjqD7OtvMLj-JMh3erdPRh_qWyRJvnvxw";
        // alert(isbn);
    }

    $("#detailsModal").on('show.bs.modal', function (e) {
        getBookDetails();
    });

     $("#authorDetailsModal").on('show.bs.modal', function (e) {
        getAuthors();
    });

</script>
