@using BookClub.Data.Entities.User
@model List<LoginUserFriendship>

<div class="form-inline" id="searchUsersInput">
    <button id="searchButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchFriendModal">Search Users</button>
</div>

<form asp-controller="Account" asp-action="SearchUser" method="post">
    <div id="searchFriendModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control mr-sm-2" type="text" name="searchInput" id="searchUsersParam" placeholder="Search Users" aria-label="Search">
                    <div class="modal-footer">
                        <a data-toggle="modal" onclick="searchUsers($('#searchUsersParam').val())" href="#detailsModal" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade detailsModal" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:500px;overflow:scroll;">
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<script>

   function searchUsers(searchParam) {

      $.ajax({
          type: 'GET',
          url: "@Url.Action("SearchUsers", "Account")",
          data:{"searchParam": searchParam },
          dataType: 'json',
          success: function (data) {
              generateUserList(data);
              },
          error: function (emp) {
              alert('error finding users');
          }
         });
    }

    function generateUserList(data) {
    
     console.log(data);

     for (var i = 0; i < data.length; i++) {
         var item = data[i];
         var listItemId = getListItemId(4).toLowerCase();
         var userId = item.id;

         $("#searchResults").append(
             '<form style="padding: 10px;" id = "' + userId + '" asp-controller="Account" asp-action="AddUser" method="post" >'
             + '<h4 id="' + userId + 'userName" >' 
             + '<input type="hidden" id="' + userId + 'userId" value="' + item.id + '" >' 
             + '<input type="hidden" id="' + userId + 'firstName" value="' + item.firstname + '" >' 
             + '<input type="hidden" id="' + userId + 'lastName" value="' + item.lastname + '" >' 
             + '<input type="hidden" id="' + userId + 'email" value="' + item.email + '" >' 
             + item.userName
             + '</h4>'
             + '<button class= "btn btn-primary" onclick="addCurrentUser(\'' + userId + '\')" > Add</button > </form > <hr />');
        }
    }

    function getListItemId(length) {
     var result = '';
     var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
     var charactersLength = 4;
     for ( var i = 0; i < length; i++ ) {
       result += characters.charAt(Math.floor(Math.random() *
       charactersLength));
      }
        return result;
      }
      
     function addCurrentUser(id) {
      console.log(id);
        var newUser = new Object();
        newUser.Id = $('#' + id + 'userId').val();
        newUser.FirstName  = $('#' + id + 'firstName').val();
        newUser.LastName  = $('#' + id + 'lastName').val();
        newUser.Email  = $('#' + id + 'email').val();
     
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddUser", "Account")",
            data:  newUser,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        });

        window.location.href = "/api/Profile/Index";
    };

</script>

