@model IEnumerable<LoginUser>

<ul class="list-group">
    @foreach(var user in Model)
    {
        <li>@user.UserName</li>
        <li><button id="@user.Id" class="btn-primary btn" type="button" >Add User</button></li>
    }
</ul>

<input id="data" type="text" name="data" />