@using BookClub.Data.Entities.User
@model List<LoginUserFriendship>

<div class="form-inline" id="searchUsersInput">
    @*  *@
    <button id="searchButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchFriendModal">Search Users</button>
    @*<button class="btn btn-outline-success my-2 my-sm-0" onclick="searchUsers($('#searchUsersParam').val())" id="searchUsers" type="button">Search Users</button>*@
</div>

<form asp-controller="Account" asp-action="SearchUser" method="post">
    <div id="searchFriendModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control mr-sm-2" type="text" name="searchInput" id="searchUsersParam" placeholder="Search Users" aria-label="Search">
                    <div class="modal-footer">
                        <a data-toggle="modal" onclick="searchUsers($('#searchUsersParam').val())" href="#detailsModal" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade detailsModal" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:500px;overflow:scroll;">
                <div id="searchResults"></div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<script>

   function searchUsers(searchParam) {

      $.ajax({
          type: 'GET',
          url: "@Url.Action("SearchUsers", "Account")",
          data:{"searchParam": searchParam },
          dataType: 'json',
          success: function (data) {
              generateUserList(data);
              },
          error: function (emp) {
              alert('error finding users');
          }
         });
    }

    function generateUserList(data) {
    
     console.log(data);

     for (var i = 0; i < data.length; i++) {
         var item = data[i];
         var listItemId = getListItemId(4).toLowerCase();
         var userId = item.id;

         $("#searchResults").append('<div style="padding: 10px;" id = "' + listItemId + '" >' + '<h4 id="' + listItemId + 'userName" >' + item.userName + '</h4>' + '<button class= "btn btn-primary" onclick="addCurrentUser(\'' + userId + '\')"  > Add</button > </div > <hr />');
        }
    }

    function getListItemId(length) {
     var result = '';
     var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
     var charactersLength = 4;
     for ( var i = 0; i < length; i++ ) {
       result += characters.charAt(Math.floor(Math.random() *
       charactersLength));
      }
        return result;
      }
      
     function addCurrentUser(id) {
        console.log("adding current user ...");
        var newUser = new Object();
        var listItemId = getListItemId(4).toLowerCase();
        newUser.userName = $('#' + listItemId + 'userName').text();
        newUser.id = id;

        console.log(newUser.userName + '-' + newUser.id);
       
        $.ajax({
            type: "POST",
            url: "/api/Account/AddUser",
            data: newUser,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        });

        window.location.href = "/api/Profile/Index";
    };

    

    //       function generateUserList(data) {

    //               console.log(data);

    //               for (let i = 0; i < data.length; i++) {

    //                    $('#userModalList').append('<li id="li-'+ listItemId + '" class="list-group-item">'
    //                    + data[i].userName + ' '
    //                    + '<button type="button" id="btn-'+ i +'" class="add_btn'+ i + ' btn btn-danger btn-sm">' + "Add" + '</button>'
    //                    + '</li>');

    //                    $('#userModalList').append('<p id="p-'+ listItemId + '" hidden>'
    //                    + data[i].id + ' ' + '</p>');
    //                   }

    //                   $('#userModal').modal('show');

    //                    var userToAdd = $('#userModalList').find('#li-'+ listItemId);
    //                    var userId = $('#userModalList').find('#p-'+ listItemId);

    //                    console.log(userToAdd + userId.text());

    //                    addUser(userToAdd, userId.text());
    //                   }

    //               }

    //        function addUser(userToAdd, friendId) {
    //         $(userToAdd).on("click", userToAdd, function() {
    //          console.log("add user clicked: " + friendId);

    //           $.ajax({
    //           type: 'GET',
    //           url: "@Url.Action("AddUser", "Account")",
    //           data:{"friendId": friendId },
    //           dataType: 'json',
    //           success: function () {
    //                console.log("ajax Notes post called");
    //                 $('#userModal').modal('hide');
    //                  window.location.reload();
    //              },
    //              error: function (emp) {
    //                console.log('error adding users.');
    //              }
    //           });

    //          });

    //       $("#userModal").on("hidden.bs.modal", function(){
    //          $("#userModalList").html("");
    //       });

    //     function getUserDetails() {
    //          // Make a ajax call to get the json data as response.
    //        $.getJSON(function (response) {

    //            if (!response.items) { return false }
    //            // In console, you can see the response objects
    //            console.log("JSON Data: " + response.items);

    //            // Loop through all the items one-by-one
    //            for (var i = 0; i < response.items.length; i++) {

    //                console.log(response.items[i]);

    //                // set the item from the response object
    //                var item = response.items[i];

    //                $("#searchResults").append('<li id="li-'+ listItemId + '" class="list-group-item">'
    //                    + data[i].userName + ' '
    //                    + '<button type="button" id="btn-'+ i +'" class="add_btn'+ i + ' btn btn-danger btn-sm">' + "Add" + '</button>'
    //                    + '</li>');

    //                    $('#userModalList').append('<p id="p-'+ listItemId + '" hidden>'
    //                    + data[i].id + ' ' + '</p>');
    //            }
    //        });
    //     }


    //}

</script>

