<div class="row">
    <div *ngFor="let b of bookList.books" class="col-md-4">
        <div class="border bg-light rounded p-1 book-main">
            <h5>{{ b.title }}</h5>
            <h6>{{  b.description }}</h6>
            <ul class="book-props">
                <li>Author: {{ b.authors[0] }}</li>
                <li>Category: {{ b.category }}</li>
                <li>Price: ${{ b.price }}</li>
                <li>Publish Date: {{ b.publishDate | date: 'MM/dd/yyyy' }}</li>
                <li>{{ b.identifierType }} {{ b.identifier }}</li>
            </ul>
            <button id="detailsButton" class="btn btn-success">Details</button>
        </div>        
    </div>
</div>