@model BookClub.ViewModels.LoginUserProfileViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to Book Club!</h1>
    <h4>A place to discuss, collect, and follow books, authors, and events around various genres.</h4>
</div>

<div class="container">
 <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="ml-2 nav-link active" id="nav-books-tab" data-bs-toggle="tab" data-bs-target="#nav-books" type="button" role="tab" aria-controls="nav-books" aria-selected="true">Books News and Alerts</button>
    <button class="ml-2 nav-link" id="nav-authors-tab" data-bs-toggle="tab" data-bs-target="#nav-authors" type="button" role="tab" aria-controls="nav-authors" aria-selected="false">Authors You Follow</button>
    <button class="ml-2 nav-link" id="nav-series-tab" data-bs-toggle="tab" data-bs-target="#nav-series" type="button" role="tab" aria-controls="nav-series" aria-selected="false">Series You Follow</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
      @{await Html.RenderPartialAsync("/Views/Shared/_BookCollectionPartial.cshtml", Model.UserBookList);}
  </div>

  <div class="tab-pane fade" id="nav-authors" role="tabpanel" aria-labelledby="nav-authors-tab">TODO: Author List Page</div>
  <div class="tab-pane fade" id="nav-series" role="tabpanel" aria-labelledby="nav-series-tab">TODO: Series List page</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
  

</script>