@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book Club!</h1>
</div>

@*TODO: Add Friends list of books on home page. Need a design for how to display multiple users and multiple books in an informative way*@
