@model ICollection<UserBook>
@{ 
    ViewData["Title"] = "User Book List";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @foreach (var u in Model)
        {
            @foreach (var b in u.Books)
            {
                <h4>@b.Title</h4>
                <ul>
                    <li>@b.Description</li>
                    <li>@b.Identifier</li>
                </ul>
            }
        }
    </div>
</div>
